# Pandas

***

### Why Pandas

Pandas is one of the most powerful data manipulation tools out there but when a data scientist can leverage the power of indexing to his advantage, it makes pandas the best data manipulation tool out there!

### DataFrame Basics

*Dataframe* is a main object in Pandas. What’s cool about Pandas is that it takes data (like a CSV or JSON file, or a SQL database) and creates a Python object with **rows** and **columns**. It is used to reprsent data with rows and columns (tabular or excel spreadsheet like data).

In [ ]:
from IPython.display import Image 

Image("EDA.png")

***

## 6 Parts of Pandas
1. Importing Data and Reading Data
2. Summarizing Data (Statistics)  
3. Manipulating Data / Cleaning Data
4. Selecting Data / Subsetting Data
5. Grouping and Filtering Data
6. Combining Datasets

# Getting Started

## Import Libraries


**Pandas:** Use for data manipulation and data analysis.
<br>
**Numpy:** fundamental package for scientific computing with Python.
<br>
**Matplotlib and Seaborn :** For plotting and visualization.
<br>
**Scikit-learn :** For the data preprocessing techniques and algorithms.

In [2]:
# Importing required Packages
import pandas as pd
import numpy as np

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")
from IPython.display import Image

## Pandas Data Structure<br>


<li>Series
<li>DataFrame

### What is Series

In [ ]:
## Anand,Mukesh,Ramesh,Shiva

age_np = np.array([23,56,67,89])
age_np

In [ ]:
age_np[0]

In [ ]:
names = ["Anand","Mukesh","Ramesh","Shiva"]
age_series = pd.Series(data=age_np,index=names)
age_series

In [ ]:
age_series["Mukesh"]

### Create DataFrames

In [ ]:
english = [34,56,78,66]
S1 =pd.Series(data=english,index=names)
S1

In [ ]:
maths = [76,45,97,56]
S2 = pd.Series(data=maths,index=names)
S2

In [ ]:
df =  pd.DataFrame({"English_marks" : S1,"Maths_marks":S2})
df

In [ ]:
data = {'Name':['Tom', 'nick', 'krish', 'jack'], 'Age':[20, 21, 19, 18]} 
df = pd.DataFrame(data)

In [ ]:
###############---------###############

In [ ]:
data = [['tom', 10], ['nick', 15], ['juli', 14]] 
df = pd.DataFrame(data, columns = ['Name', 'Age'])

In [ ]:
data = [{'a': 1, 'b': 2, 'c':3}, {'a':10, 'b': 20, 'c': 30}] 
df = pd.DataFrame(data)

In [ ]:
Name = ['tom', 'krish', 'nick', 'juli']  
Age = [25, 30, 26, 22]  
list_of_tuples = list(zip(Name, Age))  
df = pd.DataFrame(list_of_tuples, columns = ['Name', 'Age'])

In [ ]:
df =  pd.DataFrame({"col1" : [1,2,3],"col2":[5,6,7]})

## Importing Data

In [ ]:
Image("files_read.png")

### Import .csv files from a local machine

Use the file path: file_path = "/home//Desktop/Project/"

In [ ]:
# Read Loan Dataset
df = pd.read_csv("train.csv")
df.head()

In [ ]:
df.tail()

### Importing Files from a web url

In [ ]:
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

url = 'https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/HR_comma_sep.csv.txt'
df_hr = pd.read_csv(url)
df_hr

### Get the data from a excel

In [ ]:
df_sales = pd.read_excel('data-science-complete-tutorial/Data/sales_info.xlsx')

df_sales

### Exploring pd.read_csv()

Read_csv parameters: https://honingds.com/blog/pandas-read_csv/

#### <b> sep = "," by default  :</b>  

Specify separator if it not a comma

In [ ]:
Image("sep.png")

 

Use sep = “|”  as shown below

In [ ]:
Image("sep1.png")

#### <b> header :</b>  

Use pandas read_csv header to specify which line in your data is to be considered as header.

In [ ]:
Image("data_header.png")

In [ ]:
Image("header_0.png")

**header = 1 means consider second line of the dataset as header.**

In [ ]:
Image("header_1.png")

#### <b> index_col :</b>  

Use this argument to specify the row labels to use. If you set index_col to 0, then the first column of the dataframe will become the row label.

In [ ]:
Image("index_col.png")

#### <b> use_cols :</b>  

Use pandas usecols when you want to load specific columns into dataframe. When your input dataset contains a large number of columns, and you want to load a subset of those columns into a dataframe , then usecols will be very useful

In [ ]:
Image("usecols.png")

#### <b> nrows :</b>  

If you want to read a limited number of rows, instead of all the rows in a dataset, use nrows. This is especially useful when reading a large file into a pandas dataframe.

In [ ]:
Image("nrows.png")

In [ ]:
### Standard practice
data_original = df.copy()

# HIGH LEVEL DATA UNDERSTANDING

### Functions

***
These functions are the most common tools used when trying to summarize your data

- **df.head(n)** — Returns the first n rows of your DataFrame. Having a blank argument will display the first 5 by default
- **df.tail(n)** — Returns the last n rows of your DataFrame. Having a blank argument will display the last 5 by default
- **df.shape()** — Displays the number of rows and columns in your DataFrame
- **df.describe()** — Dispalys a statistical summary for numerical columns
- **df.describe(include=['object'])** —  Displays a statistical summary for all object (string) columns
- **df.describe(include='all')**  —  Displays a statistical summary for all columns
- **df.mean()** — Returns the mean of all columns
- **df.median()** — Returns the median of all columns
- **df.std()** — Returns the standard deviation of all columns
- **df.max()** — Returns the highest value in each column
- **df.min()** — Returns the lowest value in each column
- **df.dtypes** - Returns the data types of each colulmn

### See the first 5 entries

<li>data.head()

In [ ]:
df.head()

### See the last 5 entries

<li> data.tail()

In [ ]:
df.tail()

### What is the number of observations & features in the dataset?

<li> data.shape

#### Shape of Dataframe

#will give you both (observations/rows, columns)

In [ ]:
df.shape

#### No. of observations(Rows)

#will give you only the observations/rows number

In [ ]:
df.shape[0]

#### No. of Features(Columns)

#will give you the # features/columns number

In [ ]:
df.shape[1]

###  Print the name of all the columns.

In [ ]:
df.columns

We have 12 independent variables and 1 target variable, i.e. Loan_Status in the loan_data dataset

In [ ]:
Image('Datacolumns.PNG')

###  What is the name of 3rd column?

In [ ]:
chipo.columns[3]

### How is the dataset indexed?

In [ ]:
chipo.index

### Datatype of Features

In [ ]:
df.dtypes

<li><b>object: </b> Object format means variables are categorical. Categorical variables in our dataset are: Loan_ID, Gender, Married, Dependents, Education, Self_Employed, Property_Area, Loan_Status<br><br>
<li> <b>int64: </b> It represents the integer variables. ApplicantIncome is of this format.<br><br>
<li> <b>float64: </b> It represents the variable which have some decimal values involved. They are also numerical variables. Numerical variables in our dataset are: CoapplicantIncome, LoanAmount, Loan_Amount_Term, and Credit_History<br>

###  Features information

In [ ]:
chipo.info() #Columns: 163 entries

### Describing Data

In [ ]:
df.describe(include='all')

# LOW LEVEL DATA UNDERSTANDING

## Univariate Analysis

### Categorical Feature

#### Unique value in a column

In [ ]:
chipo['item_name'].unique()

#### No. of unique value in a column

In [ ]:
chipo['item_name'].nunique()

In [ ]:
df['Loan_Status'].value_counts()

In [ ]:
# Normalize can be set to True to print proportions instead of number 
df['Loan_Status'].value_counts(normalize=True)

#### Bar chart

In [ ]:
df['Loan_Status'].value_counts().plot(kind='bar')

The loan of 422(around 69%) people out of 614 was approved.

Different types of variables are Categorical, ordinal and numerical.

**Categorical features:** These features have categories (Gender, Married, Self_Employed, Credit_History, Loan_Status)

**Ordinal features:** Variables in categorical features having some order involved (Dependents, Education, Property_Area)

**Numerical features:** These features have numerical values (ApplicantIncome, CoapplicantIncome, LoanAmount, Loan_Amount_Term)

#### Pie chart

In [ ]:
df['Gender'].value_counts().plot(kind='pie')

### Numeric Feature

In [ ]:
df['LoanAmount'].max()

In [ ]:
df['LoanAmount'].describe()

#### Histogram

In [ ]:
df['ApplicantIncome'].plot(kind="hist")

#### Density plot

In [ ]:
df['ApplicantIncome'].plot(kind="kde")

#### Box Plot

In [ ]:
df['ApplicantIncome'].plot(kind="box")

It can be inferred that most of the data in the distribution of applicant income is towards left which means it is not normally distributed. We will try to make it normal in later sections as algorithms works better if the data is normally distributed.

The boxplot confirms the presence of a lot of outliers/extreme values. This can be attributed to the income disparity in the society. Part of this can be driven by the fact that we are looking at people with different education levels. Let us segregate them by Education:

## Bivariate Analysis

In [ ]:
import pandas as pd

df = pd.read_csv("train.csv")

### 2 Categorical Variable

#### Cross table<br>

<li> pandas.crosstab(column #1 ,column #2 , margins = True , normalize = 'index')<br><br>
  margins -----------------> to get total across columns & rows .<br>
  normalize = 'index' -----> to get percentage across rows .<br>
  normalize = 'columns' -----> to get percentage across columns .<br>

In [ ]:
pd.crosstab(df['Gender'],df['Loan_Status'],margins=True)

In [ ]:
pd.crosstab(df['Gender'],df['Loan_Status'],normalize='index')*100

In [ ]:
pd.crosstab(df['Self_Employed'],df['Loan_Status'],normalize='index')*100

In [ ]:
pd.crosstab(df['Self_Employed'],df['Loan_Status'],normalize='index').plot(kind="bar")

In [ ]:
pd.crosstab(df['Education'],df['Loan_Status'],normalize='index').plot(kind="bar")

In [ ]:
pd.crosstab(df['Married'],df['Loan_Status'],normalize='index').plot(kind="bar")

In [ ]:
pd.crosstab(df['Credit_History'],df['Loan_Status'],normalize='index').plot(kind="bar")

In [ ]:
df.head()

In [ ]:
pd.crosstab(df['Credit_History'],df['Loan_Status'],normalize='index').plot(kind='bar')

### 2 Numeric Variable

#### Correlation

<li> Correlation is Positive when the values increase together, and <br>
<li> Correlation is Negative when one value decreases as the other increases <br>
A correlation is assumed to be linear (following a line).

In [ ]:
Image("corr.png")

Correlation can have a value: <br><br>

<li> 1 is a perfect positive correlation <br>
<li> 0 is no correlation (the values don't seem linked at all) <br>
<li> -1 is a perfect negative correlation

In [ ]:
df.corr()

In [ ]:
import seaborn as sns
sns.heatmap(df.corr())

#### Correlation plot

In [ ]:
Image("no_corr.png")

#### Solution : Predictive Power Score(PPS)  <br>

<li> It works on both Linear and Non-Linear Relationships <br>
<li> Can be applied to both Numeric and Categorical columns <br>
<li> It finds more patterns in the data.

In [ ]:
df.columns

In [ ]:
# !pip install ppscore
import ppscore as pps

pps.matrix(df)
pps.score(df, "Credit_History", "Loan_Status")

### Categorical & Numeric Feature

In [ ]:
df.boxplot(column='ApplicantIncome', by = 'Gender')

In [ ]:
df.boxplot(column='ApplicantIncome', by = 'Education')

We can see that there are a higher number of graduates with very high incomes, which are appearing to be the outliers.

# Pandas without Coding

## Pandas Profiling

In [ ]:
import pandas_profiling
pandas_profiling.ProfileReport(df)

## Pandas GUI Demo

PandasGUI Demo : https://www.youtube.com/watch?v=NKXdolMxW2Y

## Bamboolib

Bamboolib Link : https://docs.bamboolib.8080labs.com/

https://hub.mybinder.turing.ac.uk/user/8080labs-bamboo-binder_template-g7hejlwr/notebooks/bamboolib_demo_titanic.ipynb

# Manipulating / Cleaning Data


***
<img src="https://i.imgur.com/bhKeU4P.gif"/>

Cleaning the data involves you to throw away, replace, and/or fill missing values/errors


### Functions
- **df.isnull().sum()** — Used to display the total amount of missing values in your columns
- **df.columns** — Displays a list of your column names
- **df.dropna()** — drop every NULL value.
- **df.columns = ['col_name1','col_name2','col_name3']** — Allows you to replace your columns with a new name
- **df.rename(columns={'old_name1':'new_name1', 'old_name2':'new_name2'})** — Allows you to rename certain columns directly
- **df.fillna(x)** — Repalces every null value in your table with x (could be a string value or numeric value)

## Duplicates

### Check Duplicates

In [3]:
df = pd.read_csv('train.csv')

In [4]:
df.duplicated().sum()

5

In [5]:
df[df.duplicated()]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
614,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
615,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
616,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
617,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
618,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

### Remove Duplicates

In [7]:
df.shape

(619, 13)

In [8]:
df = df.drop_duplicates()

In [9]:
df.shape

(614, 13)

In [10]:
df.duplicated().sum()

0

## Missing Values

### Missing Values identification

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 67.2+ KB

In [12]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [17]:
df['Gender'].mode()

0    Male
dtype: object

In [20]:
df['Gender'].mode()[0]

'Male'

In [18]:
df['Gender'].value_counts()

Male      489
Female    112
Name: Gender, dtype: int64

In [22]:
df['Gender'] = df['Gender'].fillna(df['Gender'].mode()[0])

In [28]:
df.isnull().sum()

Loan_ID               0
Gender                0
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [24]:
df['LoanAmount'].median()

128.0

In [25]:
df['LoanAmount'] = df['LoanAmount'].fillna(df['LoanAmount']).median()

In [27]:
df['Loan_Amount_Term'] = df['Loan_Amount_Term'].fillna(50)

There are missing values in Gender, Married, Dependents, Self_Employed, LoanAmount, Loan_Amount_Term and Credit_History features.


For numerical variables: imputation using mean or median<br>
For categorical variables: imputation using mode

### Missing Value Treatment

Two stratagies
<li>Fill the missing values
<li>Delete the rows with missing values

### Drop NULL Values

In [13]:
toy = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
                   "toy": [np.nan, 'Batmobile', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),
                            pd.NaT]})

In [14]:
toy

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [15]:
toy.dropna()

     name        toy       born
1  Batman  Batmobile 1940-04-25

In [16]:
toy.dropna(subset='toy')

TypeError: Index(...) must be called with a collection of some kind, 'toy' was passed

### Replace NULL Value

In [ ]:
for categorical replace with mode

for numeric replace with mean (if no outlier)
                        median(if outlier)

### Rename Columns

In [29]:
del df['ApplicantIncome']

In [ ]:
df.rename(columns)

# Writing a Dataframe to csv/excel

In [ ]:
df.to_csv('')